
.swiper{  
  height: 400px;
  padding: 20px 0; 
  width: 100% !important; 
  position: relative;
}
.swiper-slide{
  width: 500px;
  width: 400px;
  height: 280px;
  position: relative;
  border-radius: 30px;
}
.swiper-slide-shadow-coverflow{
  opacity: 0 !important;
  height: 100% ;
  
}
/* @media (max-width: 500px){
  .swiper_container{
      height: 300px;
  }
  .swiper-slide{
      width: 250px !important;
      height: 300px !important;
      border-radius: 30px !important;
  }
  .swiper-slide img{
      width: 250px !important;
      height: 300px !important;
      border-radius: 30px !important;
  }
} */

button{
  padding: 10px 20px;
  border: 2px solid red;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}